<br/>
<div class='title'>
<button data-choice='rock' type="button" class="choice btn btn-primary">ROCK</button>
<button data-choice='paper' type="button" class="choice btn btn-secondary">PAPER</button>
<button data-choice='scissors' type="button" class="choice btn btn-success">SCISSORS</button>
</div>
<br/>
<h2 id='result'></h2>
<p> <%= data  %></p>